/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	overflow: hidden;

}
.logo {
	float: left;
}
.navigation {
	float: right;
}

.main-content {
	overflow: hidden;
}
.image {
	float: left;
	width: 20%;
	height: 200px;
}
.post_excerpt {
	float: right;
	width: 65%;
}
/* hint! */

.post {
	overflow: hidden;
}
/* hint! */

.image {}

.post_excerpt {}
