/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	overflow: hidden;
}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 250px;
	height: 300px;
}

.main-content {
	overflow: hidden;


}
/* hint! you have to contain the floated children elements. */

.sub-content {
	float: right;
	width: 650px;	
	height: 140px;
	margin-bottom: 20px;

	/* hint! */
}
.sub-content-2 {
	float: right;
	width: 650px;	
	height: 140px;
	/* hint! */
}

.footer {}
