/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

.header {

}
.container {
	width: 80%;
	margin: 0 auto;
}

.sidebar {
	float: left;
	width: 25%;
	height: 400px;


}

.main-content {
	float: left;
	width: 45%;
	height: 400px;
}

.sub-content {
	float: left;
	width: 30%;
	height: 400px;

}

.footer {
	clear: both;

}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */