/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
	overflow: hidden;
}

.logo {
	float: left;
	width: 25%;
}

.navigation {
	float: right;
	width: 70%;
}

.sidebar {
	float: left;
	
	width: 25%;
}

.main-content {
	overflow: hidden;
}

.sub-content {
	float: right;
	width: 70%;	
	
}

.sub-content-2 {
	float: right;
	width: 70%;	
	
}

.footer {}
